# Notes
_ae3-notes/*

# Caches
**__pycache__

# Tests/Binaries
apworld/*
_generate.sh

# Archipelago Redundancies
BaseClasses.py
CommonClient.py
Fill.py
Main.py
ModuleUpdate.py
MultiServer.py
NetUtils.py
Options.py
settings.py
Utils.py

worlds/generic/*
worlds/__init__.py
AutoSNIClient.py
AutoWorld.py
Files.py
LauncherComponents.py
