# Notes
_ae3-notes/*

# Caches
**__pycache__

# Tests/Binaries
apworld/*
_generate.sh

test/*
_testing.py
worlds/ape_escape_3/test/*

# Archipelago Specific
BaseClasses.py
CommonClient.py
Fill.py
Main.py
ModuleUpdate.py
MultiServer.py
NetUtils.py
Options.py
settings.py
Utils.py
_speedups*
ChecksFinderClient.py
entrance_rando.py
Generate.py
inno_setup.iss
intset.h
kvui.py
Launcher.py
Main.py
meta.yaml
setup.py
WebHost.py
SNIClient.py
Patch.py

worlds/generic/*
worlds/alttp/*
worlds/__init__.py
data/*
logs/*
typings/*
WebHostLib/*
.run/*
.venv/*

AutoSNIClient.py
AutoWorld.py
Files.py
LauncherComponents.py
/requirements.txt

_region_diagram.puml

# IDE files
.idea/*
